.audioList {
  padding: 10px 30px;
}

.audioList .title {
  font-size: 18px;
  color: #f1f1f1;
}

.audioList .title span {
  color: #848484;
  font-size: 12px;
}

.songsContainer {
  height: 220px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.songs {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  color: #848484;
  width: 100%;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
}

.songs:hover,
.songs.active {
  color: #f1f1f1;
  transition: 0.3s;
}

.count {
  margin-right: 10px;
}

.song {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 5px;
}

.song .imgBox {
  width: 45px;
  height: 45px;
  min-width: 45px;
  border-radius: 0.5em;
  background: #555;
  margin-right: 10px;
  overflow: hidden;
}

.song .imgBox img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.song .section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.song .section .songName {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.song .section .hits {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.song .section .hits .hit,
.song .section .hits .duration {
  margin-right: 15px;
}

.song .section .hits .hit i,
.song .section .hits .duration i {
  font-size: 12px;
  margin-right: 5px;
}
.song .section .hits .favorite {
  margin-right: 10px;
}

.song .section .hits .favorite i {
  color: #49e12e;
  filter: drop-shadow(0px 0px 4px #49e12e);
}
