.mainContainer {
  height: 100vh;
  z-index: 1;
  flex-grow: 1;
  background: rgba(34, 34, 34, 0.6);
  backdrop-filter: blur(10px);
}

.menuList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
  background: #2c2c2c;
}

.menuList ul {
  display: flex;
  align-items: center;
}

.menuList ul li {
  list-style: none;
  margin: 0 20px;
  position: relative;
}

.menuList ul li a {
  text-decoration: none;
  color: #848484;
  font-size: 14px;
  font-weight: bold;
}

.menuList ul li::before {
  position: absolute;
  content: "";
  bottom: -20px;
  left: 10px;
  width: 0px;
  height: 5px;
  border-radius: 5px;
  background: #f1f1f1;
}

.menuList ul li:hover::before,
.menuList ul li.active::before {
  width: 20px;
  transition: width 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menuList ul li:hover a,
.menuList ul li .active a {
  color: #f1f1f1;
  transition: 0.3s;
}

.menuList p {
  color: #f1f1f1;
  font-size: 14px;
}

.menuList p i {
  margin-right: 6px;
  font-size: 12px;
}

.menuList p span {
  font-size: 12px;
  text-align: center;
  color: #848484;
  margin-left: 6px;
}

@media screen and (max-width: 550px) {
  .mainContainer {
    min-width: 380px;
  }

  .content {
    padding: 10px 15px;
  }

  .content .breadCrump {
    font-size: 12px;
  }

  .banner .content .artist .left .name h2 {
    font-size: 25px;
  }

  .banner .content .artist .right a {
    padding: 5px 15px;
    font-size: 12px;
    margin: 0 10px;
  }
}
