.trackList {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 20px;
}

.trackList .top {
  display: flex;
  align-items: center;
}

.trackList .top img {
  width: 50px !important;
}

.trackList .top .trackName {
  margin-left: 10px;
  color: #f1f1f1;
  font-size: 14px;
}

.trackList .top .trackName .trackSpan {
  display: block;
  font-size: 12px;
  color: #848484;
}

.trackList .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  color: #848484;
}

.trackList .bottom i {
  font-size: 18px;
}

.trackList .bottom i:hover {
  color: #f1f1f1;
  transition: 0.3s;
  cursor: pointer;
}

.trackList .bottom input {
  position: relative;
  height: 5px;
  border: none;
  border-radius: 10px;
  appearance: none;
  background: rgba(255, 255, 255, 0.1);
}

.trackList .bottom input::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: #49e12e;
  width: 50%;
  height: 100%;
  border-radius: 10px;
  z-index: 2;
  transition: width 250ms linear;
}

.trackList .bottom input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 20px;
  border-radius: 10px;
  background: #f1f1f1;
  border: 2px solid #000;
  cursor: pointer;
  position: relative;
  margin: -2px 0 0 0;
  z-index: 3;
  box-sizing: border-box;
  transition: width 250ms linear;
}

.trackList .bottom input::-moz-progress-bar {
  background: #49e12e;
  width: 50%;
  height: 100%;
  border-radius: 10px;
  z-index: 2;
  transition: width 250ms linear;
}

.trackList .bottom input::-moz-range-thumb {
  background: #49e12e;
  width: 50%;
  height: 100%;
  border-radius: 10px;
  z-index: 2;
  transition: width 250ms linear;
}
